@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSansKR-Regular.woff2") format("font-woff2"),
        url('../fonts/NotoSansKR-Regular.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSansKR-Medium.woff2") format("font-woff2"),
        url('../fonts/NotoSansKR-Medium.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSansKR-Bold.woff2") format("font-woff2"),
        url('../fonts/NotoSansKR-Bold.woff') format('woff'),
        url('../fonts/NotoSansCJKkr-Bold.ttf') format('truetype');
}

html {font-size:1em; letter-spacing:-0.025em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline;}

ul, ol {list-style:none;}
a {text-decoration:none;}

body {font-family:'Noto Sans KR', sans-serif; font-weight:400;}

button {background-color:transparent;}
img {max-width:100%;}

::-webkit-scrollbar {width:4px; height:4px; display:none;}
::-webkit-scrollbar-thumb {background-color:#bdbdbd; border-radius:4px;}
::-webkit-scrollbar-track {background-color:rgba(155,155,155,0.2); border-radius:4px;}

/* input */
.check {padding-left:30px; line-height:1; position:relative; display:inline-block;}
.check > * {line-height:1.4; vertical-align:middle; display:inline-block;}
.check input {margin:0 0 0 1px; position:absolute;}
.check .label:before {content:''; position:absolute; display:inline-block;}

/* checkbox */
.check input[type='checkbox'] {opacity:0;}
.check input[type='checkbox'], .check input[type='checkbox'] + .label:before {width:24px; height:24px; background-image:url('../images/common/icon_m_split.png'); background-position:-40px -40px; background-repeat:no-repeat; background-size:100px auto; border-radius:50%; top:3px; left:0px;}
.check input[type='checkbox']:checked + .label:before {background-position:-70px -40px;}

.check_ani {position:relative; display:inline-block;}
.check_ani input {margin:0 0 0 1px; position:absolute; opacity:0;}
.check_ani em {min-height:20px; padding-left:48px; position:relative; display:block;}
.check_ani input[type='checkbox'] {opacity:0;}
.check_ani input[type='checkbox'] + em:after {width:16px; height:16px; background-color:#fff; border-radius:50%; content:''; position:absolute; top:50%; left:2px; z-index:1; display:block; transform:translateY(-50%); transition:all 0.2s;}
.check_ani input[type='checkbox']:checked + em:before {background-color:#ff7200;}
.check_ani em:before {width:42px; height:22px; background-color:#ccc; border:0; border-radius:60px; content:''; position:absolute; top:0; left:0; display:inline-block;}
.check_ani input[type='checkbox']:checked + em:after {left:25px;}

h2 {position:relative;}

.module_left {width:200px; padding:0 24px;}
.module_left h1 {margin-top:8px; margin-bottom:10px;}
.module_left dt a {padding:8px 0; color:#222; font-size:13px; font-weight:700; position:relative; display:flex; align-items:center;}
.module_left dt a:before {width:26px; height:26px; margin-right:8px; background-image:url('../images/common/icon_gnb.png'); background-repeat:no-repeat; background-size:60px auto; content:''; display:block;}
.module_left dt.haschild a:after {width:13px; height:8px; margin-top:-3px; background:url('../images/common/icon_split.png') 0 -20px no-repeat; background-size:300px auto; content:''; position:absolute; top:50%; right:6px; display:block; transform:rotate(180deg);}
.module_left dt.haschild.active a:after {transform:rotate(0);}
.module_left dd {margin-bottom:8px; padding-left:20px; overflow:hidden; display:none;}
.module_left li + li {margin-top:4px;}
.module_left li a {padding:4px 0 4px 15px; color:#6F6779; font-size:10px; font-weight:500; display:block;}
.module_left li.active a {color:#591DA9; background-color:#F2F0F8; border-radius:6px;}

.module_left .attendance {margin-top:28px; padding-top:7px; border-top:1px solid #e5e5e5;}

/* gnb icon */
.module_left dt.diagnosis a:before {background-position:0 0;}
.module_left dt.class a:before {background-position:0 -30px;}
.module_left dt.studyroom a:before {background-position:0 -60px;}
.module_left dt.wronganswer a:before {background-position:0 -90px;}
.module_left dt.attendance a:before {background-position:0 -120px;}
.module_left dt.faq a:before {background-position:0 -150px;}
.module_left dt.qr a:before {background-position:0 -180px;}
.module_left dt.setting a:before {background-position:0 -210px;}

.module_left dt.diagnosis.active a:before {background-position:-30px 0;}
.module_left dt.class.active a:before {background-position:-30px -30px;}
.module_left dt.studyroom.active a:before {background-position:-30px -60px;}
.module_left dt.wronganswer.active a:before {background-position:-30px -90px;}
.module_left dt.attendance.active a:before {background-position:-30px -120px;}
.module_left dt.faq.active a:before {background-position:-30px -150px;}
.module_left dt.qr.active a:before {background-position:-30px -180px;}
.module_left dt.setting.active a:before {background-position:-30px -210px;}